.bgcomo {
  background-color: #e5e5e5;
  width: 100%;
  align-self: center;
}

.como {
  font-size: 1.5rem;
  color: #352c83;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px;
  align-items: center;
  justify-content: space-around;
  max-width: 620px;
  margin: 0 auto;
  height: fit-content;
}

.fluxo {
  max-width: 620px;
  margin-top: 24px;
}

.como h1 {
  text-align: center;
  justify-content: center;
  align-items: center;
}

@media (max-width: 414px) {
  .fluxo {
    width: 350px;
    margin: 0 auto;
  }
}

@media (max-width: 360px) {
  .fluxo {
    width: 320px;
    padding-top: 10px;
    margin: 0 auto;
  }
  .bgcomo {
    margin-top: 0;
    padding-top: 0px;
  }
  .como h1 {
    font-size: 1rem;
  }
  .como {
    padding-top: 20px;
  }
}
@media (max-width: 280px) {
  .fluxo {
    width: 260px;
    padding-top: 10px;
    margin: 0 auto;
  }
}
