html {
  height: fit-content;
}

body {
  font-family: "Poppins", "Montserrat", sans-serif;
  margin-left: auto;
  margin-right: auto;
  color: #fff;
  background-image: url(/img/degradê.png);
  background-size: auto;
  width: 100%;
  max-width: 1920px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: none;
  padding-bottom: none;
}

h1,
h2,
h3,
p {
  margin: 0px;
}

ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

h1 {
  font-size: 1.3rem;
}

a {
  text-decoration: none;
}

@media (max-width: 414px) {
  body {
    max-width: 414px;
    margin: 0 auto;
  }
}
@media (max-width: 390px) {
  body {
    max-width: 390px;
    margin: 0 auto;
    align-self: center;
  }
}
@media (max-width: 360px) {
  body {
    max-width: 360px;
    margin: 0 auto;
    align-self: center;
    align-items: center;
    justify-content: center;
  }
}
@media (max-width: 280px) {
  body {
    max-width: 280px;
    margin: 0 auto;
    align-self: center;
    align-items: center;
    justify-content: center;
  }
}

@media (max-width: 375px) {
  body {
    max-width: 375px;
    margin: 0 auto;
    align-self: center;
    align-items: center;
    justify-content: center;
  }
}
